In [1]:
import pandas as pd

In [2]:
cep = pd.read_csv('cep.csv', sep=";")

In [3]:
cep["NUMERO"] = cep["NUMERO_BAIRRO"].str.split(" - ", n = 1, expand = True)[0]
cep["BAIRRO"] = cep["NUMERO_BAIRRO"].str.split(" - ", n = 1, expand = True)[1]
cep["CIDADE"] = cep["POLO"].str.split(" - ", n = 1, expand = True)[0]
cep.head()

,POLO,ENDEREÇO,NUMERO_BAIRRO,CEP,NUMERO,BAIRRO,CIDADE
0,ADAMANTINA,ALAMEDA DOS EXPEDICIONÁRIOS,864 - CENTRO,17800-000,864,CENTRO,ADAMANTINA
1,AGUAÍ,AV. OLINDA SILVEIRA CRUZ BRAGA,200 - PARQUE INTERLAGOS,13860-000,200,PARQUE INTERLAGOS,AGUAÍ
2,AGUDOS,R. JOÃO PESSOA,2 - PROFESSOR SIMÕES,17120-000,2,PROFESSOR SIMÕES,AGUDOS
3,ALTINÓPOLIS,R. ALAGOAS,248 - VILA MARIA,14350-000,248,VILA MARIA,ALTINÓPOLIS
4,ALUMÍNIO,AV. SENADOR JOSÉ ERMÍRIO DE MORAES,798 - VILA INDUSTRIAL,18125-000,798,VILA INDUSTRIAL,ALUMÍNIO

In [4]:
vagas = pd.read_csv('vagas.csv', sep=";")
vagas = vagas[['POLO', ' VAGAS']]
vagas.head()

          POLO   VAGAS
0   ADAMANTINA      10
1        AGUAÍ      10
2       AGUDOS      10
3  ALTINÓPOLIS      10
4     ALUMÍNIO      10

In [5]:
polos = pd.merge(cep, vagas, left_on='POLO', right_on='POLO')
polos.head()

,POLO,ENDEREÇO,NUMERO_BAIRRO,CEP,NUMERO,BAIRRO,CIDADE,VAGAS
0,ADAMANTINA,ALAMEDA DOS EXPEDICIONÁRIOS,864 - CENTRO,17800-000,864,CENTRO,ADAMANTINA,10
1,AGUAÍ,AV. OLINDA SILVEIRA CRUZ BRAGA,200 - PARQUE INTERLAGOS,13860-000,200,PARQUE INTERLAGOS,AGUAÍ,10
2,AGUDOS,R. JOÃO PESSOA,2 - PROFESSOR SIMÕES,17120-000,2,PROFESSOR SIMÕES,AGUDOS,10
3,ALTINÓPOLIS,R. ALAGOAS,248 - VILA MARIA,14350-000,248,VILA MARIA,ALTINÓPOLIS,10
4,ALUMÍNIO,AV. SENADOR JOSÉ ERMÍRIO DE MORAES,798 - VILA INDUSTRIAL,18125-000,798,VILA INDUSTRIAL,ALUMÍNIO,10

In [9]:
polos = polos[['POLO', 'CIDADE', 'ENDEREÇO', 'NUMERO', 'BAIRRO', 'CEP', ' VAGAS']]
polos.rename(columns={' VAGAS':'VAGAS'}, inplace=True)
polos.columns

Index(['POLO', 'CIDADE', 'ENDEREÇO', 'NUMERO', 'BAIRRO', 'CEP', 'VAGAS'], dtype='object')

In [10]:
polos.to_csv('polos.csv')